.searchBox {
  width: 360px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  margin-top: 10px;
  width: 360px;
}

input {
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid lightblue;
}
