.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 12px auto;
  width: 400px;
  padding: 20px;
  border: 3px solid#242424;
  border-radius: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.input {
  padding: 4px;
  font-size: 18px;
  width: 340px;
  margin-bottom: 8px;
  color: #242424;

  background-color: white;
  border: 2px solid lightblue;
  border-radius: 8px;
}

.btn {
  display: flex;
  background-color: #242424;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: 0.35s;
}

.btn:hover {
  border: none;
  background-color: lightblue;
}

.error {
  color: red;
}
