.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.btn {
  margin-left: auto;
  height: 40px;
  align-self: center;
  border: none;

  background-color: #242424;
  color: white;

  transition: 0.35s;
  margin: 8px;
}

.btn:hover {
  border: none;
  background-color: salmon;
}
